.realization {
    counter-reset: realization;
    &-wrapper {
        padding: 60px 0 100px;
    }
    &-bg--blue {
        background-image: url('../images/src/realization-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__inner {
        max-width: 970px;
        margin: 0 auto;
        padding: 60px 0 50px;
    }
    &__title {
        margin-bottom: 75px;
        margin-top: 60px;
    }
    &-item {
        &--padding {
            padding-bottom: 50px;
        }
        &__slider {
            margin-bottom: 85px;
            position: relative;
        }
        &:nth-child(3) &__inner {
            padding: 60px 0 75px;
        }
        &:nth-child(3) &__text.text--extraBold {
            margin-top: 40px;
            padding-left: 96px;
        }
        &:nth-child(4) &__inner--flex {
            padding: 60px 0 500px 100px;
            margin-top: 40px;
        }
        &:nth-child(5) &__inner {
            padding: 60px 0 50px;
        }
        &__title {
            margin-bottom: 15px;
            position: relative;
            &:before {
                content: "0" counter(realization);
                counter-increment: realization;                 /* Инкрементирует счётчик*/
                position: absolute;
                top: 8px;
                left: -100px;
                font-weight: 800;
                font-size: 52px;
                line-height: 32px;
            }
        }
        &__inner--flex {
            padding-left: 100px;
            display: flex;
            justify-content: space-between;
        }
        &__inner-column + .realization-item__inner-column {
            margin-top: 45px;
        }
        &__text + .realization-item__text {
            margin-top: 25px;
        }
        &__content {
            max-width: 370px;
            position: relative;
        }
        &__content--flex {
            display: flex;
            justify-content: space-between;
        }
        &__content-margin {
            margin-right: 30px;
        }
        &__block--white {
            background-color: #fff;
            width: 470px;
            height: 450px;
            display: flex;
            align-items: center;
        }
        &__span {
            display: inline-flex;
            margin: 0 25px 0 35px;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            color: $blue;
        }
        &__btn {
            margin-top: 40px;
        }
        &__img-margin {
            margin-top: -103px;
            z-index: 1px;
        }
        &__img {
            box-shadow: 0 10px 50px rgba(0, 0, 0, .55);
        }
        &__column {
            width: 33.3%;
        }
        &__text-block {
            position: absolute;
            padding: 20px 20px 25px;
            background-color: $bg-gray;
            max-width: 370px;
            color: $black;
            font-size: 10px;
            line-height: 14px;
            bottom: -25px;
            right: -25px;
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
        }
        &__img--bottom {
            margin-top: auto;
            display: inline-block;
        }
        &__img-block {
            min-width: 370px;
            min-height: 391px;
            background-color: #fff;
            position: relative;
            padding: 30px 12px 0;
        }
        &__mockup {

        }
        &__bitrix24 {

        }
        &__img--visible {
            min-width: 970px;
            position: absolute;
            margin: 0 0 0 -100px;
            box-shadow: 0 10px 50px rgba(0, 0, 0, .55);
            top: 215px;
        }
        &__block {
            position: relative;
        }
    }
    &-img__block--bottom {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item-text--bold {
        text-align: center;
        margin: 45px 0 75px;
        padding-left: 80px;
    }

    &-column {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        &__block {
            padding-left: 100px;
            margin-bottom: 20px;
        }
        &__span {
            font-weight: bold;
            font-size: 34px;
            line-height: 20px;
            color: $blue;
            display: inline-block;
            margin: 0 10px 10px 0;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin: 0 auto;
    }
}


/* slider */

.swiper-container {
  width: 475px;
  height: 270px;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -35px;
    overflow: visible;
    z-index: 99999;
}

.swiper-pagination-bullet {
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #fff;
    background: none;
    transform: rotate(45deg);
    border-radius: 0;
    margin: 0 8px;
    opacity: 1;
    outline: none;
}

.swiper-pagination-bullet-active {
    border-right: 13px solid #dd3123;
}

.swiper-pagination {
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-slide img {
    min-width: 100%;
}

.title--first::before {
    top: -15px;
}
