$blue: #0055A5;
$background-color: rgb(8, 86, 161 , .85);
$red: #DD3123;
$red-hover: #e98077;
$black: #212121;
$bg-gray: #E7EEF3;
//rgba(0, 85, 165, 1);
//rgb(3%, 29%, 54%, 1);
//rgb(6 71 132 / 85%);
//$blue: rgb(1, 57, 109, .85%);
//$background-color: rgb(20 81 138);
//rgb(8, 86, 161 , .85);
